
.app-section{
  height: 530px;
  width: 390px;
  background-color: white;
  margin-top: 180px;
  border-radius: 25px;
  background: rgb(24,62,235);
background: radial-gradient(circle, rgba(24,62,235,1) 35%, rgba(17,116,222,1) 76%, rgba(2,166,208,1) 100%);
display:flex;
align-items: center;
flex-direction: column;
gap: 0;

}


.app-logo{
  width: 250px;
  position: relative;
  top: -70px;
  flex: 1;
}

.app-h{
  position: relative;
  margin-top: 0px;
  font-size: 40px;
  padding: 10px;
  text-align: center;
  color: white;
  flex: 2;
  top: -30px
}

.app-input{
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
}

.btn{
  width: 120px;
  height: 35px;
  padding: 8px 12px;
  border-radius: 15px;
  border: 1px solid rgb(0, 140, 255);
}

.btn:hover{
  background: radial-gradient(rgba(17,116,222,1) 76%, rgba(2,166,208,1) 100%);
  border: 1px solid rgb(255, 255, 255);
  color: white;
}



.field{
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 30px;
  top: -100px;
}

.span-app{
  color: gold;
}